.invoiceAdmin{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    &__title{
        color: #4C4F52;
        font-size: 0.9rem;
        font-weight: 600;
        &-text{
            color: $color-sub;
            font-weight: 600;
            &-danger{
                color: red;
                font-size: 1.3rem;
            }
        }

    }

    &__container{
        position: relative;
        z-index: 3;
    }

    &__invoice{
        @include position(absolute,50%, 0, none, 50%);
        transform: translate(-50%, -50%);
        width: 5px;
        height: 5px;
        overflow: hidden;
        background-color: #fff;
        z-index: -1;
    }
    &__text{
        color: $color-sub;
        font-size: 0.9rem;
    }
    &__total{
        border-radius: 10px;
        background-color: #F9FAFB;
    }
}