$ad-primary: #FC410C;
$ad-text-head: #969BA6;
$ad-primary-sub: #FFF0EB;
$ad-green: #71E365;
$ad-border: #EEEEEE;
$ad-red: #F72B50;
$ad-bg-primary: #FBFBFB;
$ad-color-text: #4C4F52;

$bg-primary: #1A94FF;
$color-blue: #0D5CB6;
$color-yellow: #FDD835;
$color-primary-sub: #E9F6FF;
$color-red: #FF424E;
$color-sub: #808089;
$color-title: #38383D;
$color-border: #ededed;
$color-red-sub: rgb(255, 170, 175);
$color-pink-sub: #FFF0F1;
$bg-container: #F5F5FA;


$color-logout: #0E9F6E;
$color-notify: #0E9F6E;
$color-table: #F4F5F7;
$color-process: #047481;
$color-delivery: #2D9171;
$color-order: #D03801;
$color-pending-status: #C27813;
$color-cancel : red;
$color-th: #707275;
$color-border: #F2F2F2;
$color-sub: #656565;

$background-total: #FEECDC;
$background-cancel: #FDE8E8;
$background-process: #D5F5F6;
$background-pending: #E1EFFE;
$background-order: #DEF7EC;
$background-hover: #030303;
$background-delivery: #DEF7EC;
$background-pending-status: #FDF6B2;
$background-footer: #0A472E;