.breadcrumbCustom{

    &__list{
        display: flex;
        align-items: center;
        &-item{

            &-link{
                color: $color-sub;
                font-weight: 300;
                font-size: 0.95rem;

                &.none{
                    &:hover{
                        text-decoration: none;
                    }
                }

                &:hover{
                    text-decoration: underline;
                    color: $color-sub;
                }

                &.active{
                    text-decoration: none;
                    color: $color-sub;
                    cursor: default;
                }
            }
        }
    }
}