.rankRating {
    &__general {
        display: flex;
        align-items: center;
        &-average {
            font-weight: 800;
        }
        &-number {
            color: $color-sub;
            font-size: 0.9rem;
        }
    }

    &__data {
        &-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &-progress {
                width: 138px;
                height: 6px;
                background-color: rgb(245, 245, 250);
                position: relative;
                z-index: 1;
                margin: 0px 8px;
                border-radius: 99em;
                &-child {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    bottom: 0px;
                    background-color: rgb(128, 128, 137);
                    border-radius: 99em;
                }
            }

            &-number {
                color: $color-sub;
                font-size: 0.8rem;
            }
        }
    }
}
