.tableCustom{
    width: 100%;
    background-color: #fff;
    border: 1px solid #E5E7EB;

    &__select{
        outline: none;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid $color-border;
    }

    & > thead > tr{
        border-bottom: 1px solid #F5F5F5;
        background-color: #F4F5F7;
    }

    & > thead > tr >th{
        white-space: nowrap;
        padding: 0.665rem 0.9375rem;
        border: 1px solid #E5E7EB;
        border-collapse: collapse;
        text-transform: uppercase;
        font-size: 0.86rem;
        font-weight: 600;
        color: #707275;
        vertical-align: middle;
    }

    & > tbody > tr:nth-child(even){
        background-color: #f9f9f9;
    }

    & > tbody > tr > td{
        padding: 0.9rem 1rem;
        border: 1px solid #E5E7EB;
        border-collapse: collapse;
        font-size: 0.85rem;
        font-weight: 400;
    }

    & tbody tr:hover{
        background-color: $ad-primary-sub;
    }

    &__filter{
        background-color: #fff;
        border: 1px solid #E5E7EB;
        border-radius: 5px;
    }
}