.addressPage {
    
    &__desk {
        &-form{
            width: 800px;
        }
        &-label {
            font-size: 0.9rem;
        }
        &-input {
            border: 1px solid rgb(204, 204, 204);
            border-radius: 4px;
            height: 34px;
            padding: 6px 12px;
            font-size: 0.9rem;
            width: 100%;
            line-height: 34px;
            outline: none;

            &.none-height{
                height: auto;
            }
        }
        &-btn{
            background-color: $bg-primary;
            border-radius: 4px;
            font-size: 0.9rem;
            outline: none;
            border: none;
            color: white;
            padding: 8px 12px;
        }
    }
}
